body{
	margin-top:auto;
	margin-left:auto;
	margin-bottom:auto;
	text-align:center;
	font-size:55px;
	font-family:Microsoft JhengHei;
	background-color:#FFEFD5;
}
#reg{
		font-size:40px;
}
#submit_btn{
	width:160px;
	height:40px;
	font-size:25px;
}
